*{
    font-family: poppins;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 150px;
    height: 150px;
  }
  body {
    background-image: url('istockphoto-1297230310-612x612.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
  }
  
  section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
  }